<h1><%= @user.name %></h1>

<h2>Created Events:</h2>

<% @user.created_events.each do |event| %>
  <div><%= link_to event.title, event %></div>
<% end %>


<h2>Attended Events:</h2>

<% @user.attended_events.each do |event| %>
  <div><%= link_to event.title, event %></div>
<% end %>